*{
    margin: 0;
    padding: 0;

}
.container{
    padding: 20px 50px;
    background-color: rgb(220, 112, 4);
    justify-content: space-between;
    transition: all 0.5s ease;
    align-items: center;
   display: flex
   
}

.container h1{

    color:white ;
}

.container ul{
  display: flex;
  list-style: none;
  gap: 20px;
  
 

}

a{

    color: white;
    text-decoration: none;
  
}

.Image1{
   padding: 100px 50px;
   display: flex;
   
}

button{
    background-color: orangered;
    padding: 14px 25px;
    font-size: x-large;
    border-radius: 5px;
    color: white;
}

input{
    margin: 50px;
    margin-top: 200px;
    padding: 10px 80px;
    margin-left:1px ;

}

.box{
    transition: all 0.5s ease;
}
.container ul li a:hover{
    background-color: green;
    transition:all 0.5s ease;
}

.box button:hover{
    background-color: black;
    transition: all 0.5s ease;
}


